{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    {% if not object.profile_pic %}
                        <img src="{% static 'person.png' %}" alt="no-profile-pic">
                    {% else %}
                        <img src="/media/{{ object.profile_pic }}" alt="profile-pic">
                    {% endif %}
                </div>
            </div>

            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'icon-remove-22.jpg' %}" alt="bin button">
                        </a>

                        <a href="{% url 'user favourites' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'favourites-button.png' %}" alt="favourites button">
                        </a>

                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ travel_photos_count }}</span>
                    <p>Travel posts</p>


                    <span>{{ favourites_count }}</span>
                    <p>Favourites</p>


                    <span>{{ likes_count }}</span>
                    <p>Likes</p>


                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}

                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}

                <div class="data">
                    <p>Countries visited by the user:</p>
                    <span>{{ visited_countries_count }}</span>
                </div>
            </div>
        </div>

        <div class="pets">
            <div class="statuses">
                {% for country in visited_countries %}
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <img src="/media/{{ country.flag }}"
                                         alt="image of {{ country.name }}">
                                </div>
                            </div>
                            <p>{{ country.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

            <div class="pet-photos">
            {% for photo in travel_photos %}
                <a href="{% url 'details travel photo' pk=photo.pk %}">
                    <img src="/media/{{ photo.photo }}" alt="travel_photo">
                </a>
            {% empty %}
            <img src="{% static 'no-travel-photos.png' %}" alt="no-profile-pic">
            {% endfor %}

        </div>
    </div>

{% endblock %}