{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    {% if not object.profile_pic %}
                        <img src="{% static 'person.png' %}" alt="no-profile-pic">
                    {% else %}
                        <img src="/media/{{ object.profile_pic }}" alt="profile-pic">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'icon-remove-22.jpg' %}" alt="bin button">
                        </a>

                        <a href="{% url 'user favourites' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'favourites-button.png' %}" alt="favourites button">
                        </a>

                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ travel_photos_count }}</span>
                    <p>Travel posts</p>


                    <!-- Total Number of Saved Images for the User -->
                    <span>{{ favourites_count }}</span>
                    <p>Favourites</p>


                    <!-- Total Number of Likes for the User -->
                    <span>{{ likes_count }}</span>
                    <p>likes</p>

                    <!-- Total Number of Counties visited by the user -->
                    <div class="data">
                        <p>Countries visited by the user:</p>
                        <span>{{ visited_countries }}</span>
                    </div>

                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}

                <!-- User Email Address -->
                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>

        <!-- Start Last Uploaded Photos Section -->
        {% if travel_photos %}
            <div class="pet-photos">
            {% for photo in travel_photos %}
                <img src="/media/{{ photo.photo }}" alt="travel_photo">
            {% endfor %}
            {#            <!-- Link to Last Uploaded Pet Photo -->#}
            {#            <a href="#">#}
            {#                <!-- Pet Photo -->#}
            {#                <img src="https://i.natgeofe.com/n/de94c416-6d23-45f5-9708-e8d56289268e/naturepl_01132178.jpg?w=636&h=631"#}
            {#                     alt="pet img">#}
            {#            </a>#}
        {% else %}
            <img src="{% static 'no-travel-photos.png' %}" alt="no-profile-pic">
        {% endif %}

        </div>
        <!-- End Profile Details Section -->
    </div>

{% endblock %}