{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'home page' %}">
                <img width="50px"
                     src="{% static 'Travel-PNG-Pic.png' %}"
                     alt="img1">
            </a>
            <a class="home" href="{% url 'home page' %}">
                <i>Travel Frame</i>
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'add destination' %}">
                        <i>Add Destination</i>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'post travel photo' %}">
                        <i>Post Travel Photo</i>
                    </a>
                </li>


                    <li class="nav-item">
                        <a href="{% url 'details user' pk=request.user.pk %}">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout user' %}">
                            <i>Logout</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login user' %}">
                            <i>Login</i>
                        </a>
                    </li>
            </ul>
        </div>
                {% endif %}
    </div>
</nav>